.form-group {
    position: relative;
}
.form-group svg {
    position: absolute;
    right: 5px;
    top: 42px;
    color: #78d4e2
}
input::-webkit-datetime-edit{ color: transparent; }
input:focus::-webkit-datetime-edit{ color: #000; }

.has-error {
    border: 2px solid #f00
}   