@import "https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700";
.App {
    display: flex;
    width: 100%;
    align-items: stretch;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 0, 0, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    background: #fafafa;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.align-text-right {
    text-align: right
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.content {
    padding: 0;
    margin-left: 0;
    max-height: 100vh;
    height: 100vh;
    overflow-y: auto;
}
.container-fluid{
    margin: 0
}
@media only screen and (max-width: 500px) {
    body {
        overflow: hidden;
    }
    .content.is-open {
        margin-left: 100%;
    }
    .sidebar.is-open {
        min-width: 100%;
        max-width: 100%;
        margin-left: 0;
        transition: all 0.5s, height 0s;
    }
    .sidebar.is-open>.sidebar-header span {
        display: unset;
    }
    li a.dropdown-toggle::after {
        display: inline-block;
        position: relative;
        left: 68%;
    }
}

.scroll-y {
    max-height: calc(100vh - 350px);
    overflow-y: scroll
}

.list-group-item:hover {
    cursor: pointer;
}

.list-group-item {
    padding: .95rem 1.25rem 0 1.25rem;
}

.prettybox {
    width: 98%;
    margin: 1%;
    background: #fff;
    border-radius: 3px;
    padding: 60px 20px 20px 20px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(207, 203, 207, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(207, 203, 207, 1);
    box-shadow: 0px 0px 5px 0px rgba(207, 203, 207, 1);
    position: relative;
}

.prettybox .header-box {
    width: 90%;
    margin-left: 1%;
    padding: 2.5%;
    background: rgba(23, 162, 184, 1);
    background: -moz-linear-gradient(left, rgba(23, 162, 184, 1) 0%, rgba(74, 184, 201, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(23, 162, 184, 1)), color-stop(100%, rgba(74, 184, 201, 1)));
    background: -webkit-linear-gradient(left, rgba(23, 162, 184, 1) 0%, rgba(74, 184, 201, 1) 100%);
    background: -o-linear-gradient(left, rgba(23, 162, 184, 1) 0%, rgba(74, 184, 201, 1) 100%);
    background: -ms-linear-gradient(left, rgba(23, 162, 184, 1) 0%, rgba(74, 184, 201, 1) 100%);
    background: linear-gradient(to right, rgba(23, 162, 184, 1) 0%, rgba(74, 184, 201, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#17a2b8', endColorstr='#4ab8c9', GradientType=1);
    color: #fff;
    border-radius: 5px;
    position: absolute;
    top: -30px
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.buttonGroup {
    width: 100%;
    padding-bottom: 40px 
}
.mb-12 {
margin-bottom: 80px
}